.blog-box {
  display: flex;
  flex-direction: row;
}

.blog-margin {
  position: relative;
  width: 15vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 64px 0;
}

@media screen and (max-width: 720px) {
  .blog-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blog-margin {
    display: none;
  }
}
