.blog-banner {
  background: url("/static/images/banner_blog_nossovoto.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 256px;
  padding: 24px 0;
}

.blog-banner > h1 {
  font-size: 52px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.blog-banner > .newsletter {
  margin: 0px 0 -64px 0;
}

@media screen and (max-width: 720px) {
  .blog-banner h1 {
    font-size: 40px;
  }
  .blog-banner > .newsletter {
    margin: 0;
  }
}

@media screen and (max-width: 512px) {
  .blog-banner h1 {
    font-size: 32px;
  }
}
