.main {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
  width: 70vw;
  border-left: 3px solid #1c518a;
  padding-left: 12px;
  margin-left: 7vw;
}

@media screen and (max-width: 1080px) {
  .list {
    width: 80vw;
  }
}

@media screen and (max-width: 720px) {
  .list {
    width: 90vw;
    margin-left: calc(4vw - 12px);
  }

  .main h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 512px) {
  .list {
    margin-left: 6px;
    padding-left: 6px;
  }
}
