.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22vw;
  max-width: 22vw;
  padding-top: 22px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 100%;
}

.box h1 {
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.post {
  display: flex;
  flex-direction: column;
  width: 85%;
  cursor: pointer;
  overflow: hidden;
  border-top: 1px solid grey;
  font-size: 14px;
  padding: 12px 0;
}

.post h3 {
  height: 42px;
  margin: 2px 0;
  overflow: hidden;
  font-size: 16px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.post a {
  color: blue;
  font-weight: bold;
}

@media screen and (max-width: 720px) {
  .post h3 {
    height: 21px;
    -webkit-line-clamp: 1;
  }

  .main {
    width: 90vw;
    max-width: 90vw;
    padding: 24px 0;
  }
}
