.blog-posts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  border-left: 3px solid darkblue;
  padding: 12px;
}

.blog-post {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 200px;
  background: white;
  box-shadow: 0 0 16px 0 rgb(150, 150, 150);
  margin: 10px 0;
  cursor: pointer;
  overflow: hidden;
}

.blog-post-img {
  background: white;
  width: 300px;
  margin: 0;
}

.blog-post-img > img {
  object-fit: cover;
  width: auto;
  max-width: 100%;
  height: 200px;
}

.blog-post-list-content {
  position: relative;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  width: 75%;
  font-size: 15px;
}

.blog-post-list-content > h1 {
  margin: 5px 0;
  font-size: 26px;
}

.blog-post-list-content-sumary {
  height: 62px;
  max-height: 62px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.blog-post-list-content-extra {
  position: absolute;
  bottom: 12px;
  left: 24px;
}

.blog-post-list-content-extra > a {
  color: blue;
  font-weight: bold;
}

.blog-posts-list-after {
  display: none;
}

@media screen and (max-width: 1080px) {
  .blog-post-list-content > h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

@media screen and (max-width: 720px) {
  .blog-posts-list {
    width: 90vw;
  }

  .blog-post-list-content > span:nth-child(2) {
    display: none;
  }

  .blog-post-list-content > h1 {
    font-size: 22px;
  }

  .blog-posts-list-after {
    display: block;
    width: 100vw;
    border-bottom: 3px solid darkblue;
  }
}
