.newsletter {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
  width: 66.66%;
  margin: 0 auto;
  border: 2px thin black;
  border-radius: 16px;
  box-shadow: 0 0 16px 0 rgb(150, 150, 150);
  background-color: white;
}

.newsletter.home {
  margin-top: -66px;
}

.newsletter > p {
  padding: 8px 16px;
  width: calc(20% - 32px);
  margin: 0;
}

.newsletter > form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 32px);
}

.newsletter > form > input {
  padding: 4px 16px;
  width: calc(100% - 32px);
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(150, 150, 150);
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 16px;
  font-size: 16px;
  line-height: 24px;
}

.newsletter-button {
  margin: 0 auto;
  margin-left: 16px;
  margin-right: 16px;
  display: inline-block;
  padding: 6px 12px;
  width: calc(25% - 32px);
  min-width: 175px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 32px;
  text-decoration: none;

  color: white;
  background-color: #237ed9;
  border-color: #237ed9;
}

@media screen and (max-width: 1080px) {
  .newsletter {
    width: 80%;
  }
  .newsletter > p {
    width: calc(25% - 32px);
  }
}

@media screen and (max-width: 720px) {
  .newsletter {
    flex-direction: column;
    height: auto;
    padding: 16px 24px;
    width: 80%;
  }

  .newsletter.home {
    margin-top: 24px;
  }

  .newsletter > p {
    padding: 0;
    width: calc(80% - 20px);
    text-align: center;
  }

  .newsletter > form {
    flex-direction: column;
    width: calc(90% - 20px);
  }

  .newsletter > form > input {
    font-size: 18px;
    text-align: center;
  }

  .newsletter-button {
    width: 200px;
  }

  .newsletter > p,
  .newsletter > form > input,
  .newsletter-button {
    margin: 6px 0;
  }
}

@media screen and (max-width: 512px) {
  .newsletter > p {
    width: 90%;
  }

  .newsletter > form > input {
    font-size: 16px;
  }
  .newsletter-button {
    font-size: 12px;
    width: 175px;
  }
}
