$padding-vert: 32px;
$padding-hori: 256px;
$image-square: 320px;

.why {
  margin: $padding-vert auto;
  padding: 0 $padding-hori;
  display: flex;
  flex-direction: column;
}

.why-container {
  display: flex;
  flex-direction: row;
}

.why-description {
  margin-left: -16px;
  width: 60%;
  text-align: justify;
}

.why-description > h3 {
  font-size: 20px;
  line-height: 1.6;
  width: 80%;
}

.why-description > p {
  font-size: 16px;
  line-height: 1.6;
  width: 90%;
  text-align: left;
}

.why-separator {
  border-bottom: thin solid black;
  margin: 10px 0;
}

.why-image {
  margin: 0 auto;
  width: $image-square;
  height: $image-square;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.why-image > img {
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  width: auto;
  width: auto\9;
}

.why-button {
  margin: 0 auto;
  display: inline-block;
  padding: 6px 12px;
  margin-top: 32px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 32px;
  text-decoration: none;

  color: white;
  background-color: #237ed9;
  border-color: #237ed9;
}

@media screen and (max-width: 1280px) {
  .why {
    padding: 0 $padding-hori * 2/3;
  }

  .why-description {
    width: 55%;
  }
}

@media screen and (max-width: 1080px) {
  .why {
    padding: 0 $padding-hori / 2;
  }

  .why-image {
    width: $image-square * 0.8;
    height: $image-square * 0.8;
  }

  .why-image {
    margin-top: 32px;
  }

  .why-description {
    width: 60%;
  }

  .why-description > h3,
  .why-description > p {
    width: 80%;
  }

  .why-button {
    font-size: 16px;
  }
}

@media screen and (max-width: 720px) {
  .why {
    margin-top: $padding-vert/2;
    padding: 0 $padding-hori/4;
  }

  .why-container {
    flex-direction: column;
  }

  .why-description {
    margin: 0 auto;
    width: 90%;
  }

  .why-description > h3 {
    line-height: 1.6;
    width: 90%;
  }

  .why-description > p {
    line-height: 1.2;
    width: 90%;
  }

  .why-separator {
    margin: 8px 0;
  }
}

@media screen and (max-width: 512px) {
  .why {
    margin-top: $padding-vert/4;
    padding: 0 $padding-hori/8;
  }

  .why-description {
    width: 100%;
  }

  .why-image {
    margin-top: 16px;
  }

  .why-description > h3,
  .why-description > p {
    width: 100%;
  }

  .why-button {
    font-size: 14px;
  }
}
