.alert-box-display {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 300px;
  min-height: 70px;
  padding: 30px 12px 12px 12px;
  border-radius: 12px;
  z-index: 999;
}

.alert-box-display.default {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-box-display.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-box-display.info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-box-display.warn {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-box-display.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-box-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.alert-box-close:hover {
  transform: scale(1.3, 1.3);
}

.alert-box-message {
  margin-left: 24px;
}
