.blog-post-page {
  display: flex;
  flex-direction: row;
}

.blog-post-container {
  border-left: 3px solid darkblue;
  padding: 32px 64px;
  width: 60vw;
}

.blog-post-social {
  position: relative;
  width: 15vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 64px 0;
}

.blog-post-container > h1 {
  margin: 24px 0;
}

.blog-post-container > img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.blog-post-content {
  margin-top: 36px;
}

.blog-post-author-separator {
  margin-left: 18vw;
  width: calc(82vw - 64px);
}

.blog-post-author {
  margin-left: 20vw;
}

.blog-post-author-separator > h2 {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid rgb(155, 155, 155);
  line-height: 0.1em;
  font-size: 16px;
}

.blog-post-author-separator h2 span {
  background: #fff;
  color: rgb(100, 100, 100);
  padding: 0 10px;
}

.blog-post-author {
  padding: 12px 0 48px 32px;
}

.blog-post-author-name > a {
  color: blue;
}

@media screen and (max-width: 720px) {
  .blog-post-container {
    border-left: 3px solid darkblue;
    padding: 24px;
    width: 75vw;
  }

  .blog-post-social {
    width: 10vw;
  }

  .blog-post-author-separator {
    margin-left: 8vw;
    width: calc(92vw - 32px);
  }

  .blog-post-author {
    margin-left: 11vw;
  }
}
