.blog-banner {
  background-color: rgb(25, 83, 134);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 24px 7vw;
}

.blog-banner > h1 {
  font-size: 30px;
  color: white;
}

.blog-banner-button-box {
  display: flex;
  flex-direction: row;
  width: 33%;
}

.blog-banner-button-box > span {
  text-align: right;
  color: whitesmoke;
}

.blog-banner-button-box > button {
  background-color: transparent;
  color: whitesmoke;
  margin-left: 12px;
  width: 40%;
  border-radius: 4px;
  outline: none;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
}

@media screen and (max-width: 720px) {
  .blog-banner > h1 {
    font-size: 24px;
  }

  .blog-banner-button-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
  }

  .blog-banner-button-box > span {
    text-align: center;
  }

  .blog-banner-button-box > button {
    margin: 12px 0;
    width: 60%;
  }
}

@media screen and (max-width: 512px) {
  .blog-banner > h1 {
    font-size: 16px;
  }

  .blog-banner-button-box {
    width: 45%;
  }
  .blog-banner-button-box > span {
    font-size: 14px;
  }

  .blog-banner-button-box > button {
    width: 80%;
  }
}
