@import url("font.scss");

body {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

$desktop-size: 1920px;
$desktop-small-size: 1200px;
$tablet_horizontal: 1024px;
$ablet_vertical: 768px;
$cellphone: 568px;
$cellphone_small: 320px;

$color: (
  text: "#333",
  background: "#fff",
  link: "#1eaaf1",
  linkHover: "#0d8ecf",
  border: "#ddd",
  warning: "#fff3cd",
  success: "#d4edda"
);

$padding-vert: 32px;
$padding-hori: 128px;

.home-container {
  border-left: 2px solid darkblue;
}

.default-form {
  display: flex;
  flex-direction: column;
  
  input {
    border: none;
    border-bottom: 1px solid blue;
    font-size: 16px;
  }

  textarea {
    border: 1px solid blue;
    font-size: 16px;
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  input:focus {
    border-bottom: 2px solid blue;
  }

  textarea:focus {
    border: 2px solid blue;
  }
}

.default-form > * {
  margin: 6px 0;
}

.default-form-warn {
  color: orangered;
}

.cancel-button,
.send-button {
  font-size: 20px;
  width: 90px;
  margin: 12px 6px;
  cursor: pointer;
}

.cancel-button:active,
.send-button:active {
  outline: none;
}

.cancel-button {
  color: red;
  background: transparent;
  border: transparent;
}

.send-button {
  background: blue;
  color: white;
  border: blue;
  border-radius: 8px;
}

@media screen and (max-width: 800px) {
  .home-container {
    padding: $padding-vert $padding-hori/2;
  }
}

@media screen and (max-width: 500px) {
  .home-container {
    padding: $padding-vert/2 $padding-hori/4;
  }
}
