.blog-posts {
  display: flex;
  flex-direction: column;
}

.blog-posts-list {
  display: flex;
  flex-direction: column;
  width: 70vw;
  border-left: 3px solid #1c518a;
  padding-left: 12px;
  margin-left: 7vw;
}

.MuiPagination-root {
  margin: 15px auto;
}

@media screen and (max-width: 1080px) {
  .blog-posts-list {
    width: 80vw;
  }
}

@media screen and (max-width: 720px) {
  .blog-posts-list {
    width: 90vw;
    margin-left: calc(4vw - 12px);
  }

  .blog-post-content-sumary {
    height: 88px;
    max-height: 88px;
    -webkit-line-clamp: 5;
    font-size: 12px;
  }

  .blog-post-content-author {
    font-size: 12px;
  }

  .blog-post-content > h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 512px) {
  .blog-posts-list {
    margin-left: 12px;
  }
}
