$circle-size: 192px;

.sobreSection {
  margin: 32px auto 0 auto;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  background-color: #16518c;
  color: rgb(240, 240, 240);
}

.sobreSection-box {
  margin: 0 15%;
}

.sobreSection-box h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
}

.sobreSection-box p {
  margin: 24px auto;
  width: calc(100% - 64px);
  text-align: justify;
  font-size: 18px;
}

.sobreSection-servicos {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sobreSection-servicos-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.sobreSection-servicos-circle {
  width: $circle-size;
  height: $circle-size;
  padding: 8px;
  background-color: #237ed9;
  border-radius: 50%;
  box-shadow: 1px 1px 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.sobreSection-servicos-block p {
  margin-top: 16px;
  text-align: center;
  width: 90%;
  height: 100px;
}

@media screen and (max-width: 1280px) {
  .sobreSection-servicos-circle {
    width: $circle-size * 0.9;
    height: $circle-size * 0.9;
  }
}

@media screen and (max-width: 1080px) {
  .sobreSection-servicos-circle {
    width: $circle-size * 0.66;
    height: $circle-size * 0.66;
  }
}

@media screen and (max-width: 720px) {
  .sobreSection-servicos {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sobreSection-servicos-block {
    width: auto;
  }

  .sobreSection-box p {
    width: calc(100% - 32px);
    text-align: center;
  }

  .sobreSection-servicos-circle {
    width: $circle-size * 0.9;
    height: $circle-size * 0.9;
  }

  .sobreSection-servicos-block p {
    height: auto;
    width: 90%;
  }
}

@media screen and (max-width: 512px) {
}
