.main {
  margin: 32px auto 0 auto;
  padding: 32px 10vw;
  display: flex;
  flex-direction: column;
  background-color: #16518c;
  color: rgb(240, 240, 240);
}

.main h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
}

.main p {
  margin: 24px auto;
  text-align: justify;
  font-size: 18px;
}

.servicos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.service_svg {
  height: 200px;
  width: 100%;
}

.service_item {
  margin: 0 14px;
}

.service_item > p {
  text-align: center;
  width: 80%;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1080px) {
}

@media screen and (max-width: 720px) {
  .main p {
    text-align: center;
  }

  .servicos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .service_item {
    margin: 0;
  }

  .service_item > p {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 512px) {
}
